extends layout

block content
  h1= title
  .container
  form#contact_form.well.form-horizontal(action='/send', method='post')
    fieldset
      .form-group
        label.col-md-4.control-label First Name
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control(name='first_name', placeholder='First Name', type='text')
      .form-group
        label.col-md-4.control-label Last Name
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control(name='last_name', placeholder='Last Name', type='text')
      .form-group
        label.col-md-4.control-label E-Mail
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            input.form-control(name='email', placeholder='E-Mail Address', type='text')
      .form-group
        label.col-md-4.control-label Project Description
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-pencil
            textarea.form-control(name='comment', placeholder='Description')
      #success_message.alert.alert-success(role='alert')
        | Success
        i.glyphicon.glyphicon-thumbs-up
        |  Thanks for contacting us, we will get back to you shortly.
      .form-group
        label.col-md-4.control-label
        .col-md-4
          button.btn.btn-warning(type='submit')
            | Send
            span.glyphicon.glyphicon-send
