extends layout

block content
  .container.text-center
    h1= title
    p s#{title}
  // REGISTRATION FORM
  .text-center(style='padding:50px 0')
    .logo register
    // Main Form
    .login-form-1
      form#register-form.text-left(action='/register', method='POST')
        .login-form-main-message
        .main-login-form
          .login-group
            .form-group
              label.sr-only(for='reg_username') Username
              input#reg_username.form-control(type='text', name='reg_username', placeholder='username')
            .form-group
              label.sr-only(for='reg_password') Password
              input#reg_password.form-control(type='password', name='reg_password', placeholder='password')
            .form-group
              label.sr-only(for='reg_password_confirm') Password Confirm
              input#reg_password_confirm.form-control(type='password', name='reg_password_confirm', placeholder='confirm password')
            .form-group
              label.sr-only(for='reg_firstname') First Names
              input#reg_firstname.form-control(type='text', name='reg_firstname', placeholder='first name')
            .form-group
              label.sr-only(for='reg_lastname') Last Name
              input#reg_lastname.form-control(type='text', name='reg_lastname', placeholder='last name')
            .form-group.login-group-checkbox
              input#male(type='radio', name='reg_gender', placeholder='gender', value = 'm')
              label(for='male') male
              input#female(type='radio', name='reg_gender', placeholder='gender', value = 'f')
              label(for='female') female
            .form-group.login-group-checkbox
              input#reg_agree(type='checkbox', name='reg_agree')
              label(for='reg_agree')
                | i agree with
                a(href='#') terms
          button.login-button(type='submit')
            i.fa.fa-chevron-right
        .etc-login-form
          p
            | already have an account?
            a(href='/login') login here
    // end:Main Form
