extends layout

block content
  // FORGOT PASSWORD FORM
  .text-center(style='padding:50px 0')
    .logo forgot password
    // Main Form
    .login-form-1
      form#forgot-password-form.text-left
        .etc-login-form
          p
            | When you fill in your registered email address, you will be sent instructions on how to reset your password.
        .login-form-main-message
        .main-login-form
          .login-group
            .form-group
              label.sr-only(for='fp_email') Email address
              input#fp_email.form-control(type='text', name='fp_email', placeholder='email address')
          button.login-button(type='submit')
            i.fa.fa-chevron-right
        .etc-login-form
          p
            | already have an account?
            a(href='/login') login here
          p
            | new user?
            a(href='/register') create new account
    // end:Main Form
